/* Universal Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Structure */
body {
    font-family: cursive;
    background-color: whitesmoke;
}

#content {
    background-color: lightgray;
    width: 80%;
    margin: auto;
    border: 1px solid darkslategrey;
}

header {
    text-align: center;
    font-size: x-large;
    color: darkslategrey;
}

li {
    border: 1px solid darkred;
}

a {
    text-decoration: none;      /* Remove underline */
    color: white;
}

/* Eliminates extra inline space below images */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Navigation */
#main-nav {
    margin-bottom: 10px;
}

#main-nav ul, #quick-links {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    padding: 5px;
    background-color: crimson;
}

/* Top Row */
#top-row {
    margin-bottom: 10px;
}

#sidebar {
    text-align: center;
    background-color: #36454F;
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    margin-bottom: 10px;        /* Spacing for mobile stacked view */
}

#sidebar h2 {
    color: aqua;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quick-links {
    margin: 0;
    background-color: crimson;
}

#cards-container h3 {
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 0;
}

/* Idea Rows */
.idea-row {
    margin-bottom: 10px;
}

.idea-row article h3 {
    color: white;
    background-color: darkslategrey;
    padding: 5px;
}

.idea-row article p {
    padding: 10px;
    color: black;
}

/* Footer */
footer {
    text-align: center;
    background-color: crimson;
    color: white;
    padding: 10px;
}

/* Responsive Design (1000px or larger) */
@media (min-width: 1000px) {
    .columns {
        display: flex;
    }

    #main-nav li {
        flex: 1;
    }

    #top-row {
        display: flex;
        gap: 10px;
        align-items: stretch;
    }

    #sidebar {
        flex: 1;
        margin-bottom: 0;
    }

    #cards-container {
        display: flex;
        flex: 3;
        gap: 10px;
    }

    .card {
        flex: 1;
        min-width: 0;
    }

    /* Idea Rows Flexbox Layout */
    .idea-row {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .idea-row img {
        width: 200px; /* Constrains the flanking image widths */
        flex-shrink: 0;
    }

    .idea-row article {
        flex: 1; /* Takes up all remaining space in the middle */
    }
}