<!DOCTYPE html>
<html lang=""eng">
    <head>
        <title>Nic's website</title>
    </head>
    <body>
        <h1>&star;My Website&star;</h1>
        <h2>Info for My Website</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut aliquam nibh, mollis gravida sapien. Mauris consequat <strong>libero</strong> vitae arcu tincidunt, ac pharetra ex tempor. Pellentesque <em>dignissim</em> eget elit at porta. Aliquam tincidunt, nisi eu maximus ornare, nisi eros condimentum lacus, vel scelerisque dolor nulla in sem. Praesent sollicitudin elit risus, eu euismod sapien elementum eget. Maecenas nec metus convallis, convallis velit tristique, ultrices eros. Maecenas sit amet dui a nisi porttitor lobortis ut vel nisi.
        </p>

        <h2>Unordered List (Bulleted List)</h2>
        <ul>
            <li>itemA</li>
            <li>itemB</li>
            <li>itemC</li>
        </ul>

        <h2>Ordered List (Numbered List)</h2>
        <ol>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
        </ol>

        <img src="images/programming.jpg">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla nibh ex, in lobortis elit interdum nec. Sed <b>consequat</b> rutrum sodales. <i>Suspendisse</i> vehicula feugiat nisl, a mattis ante interdum nec. Cras a semper libero. Etiam rhoncus lorem eu sem posuere efficitur. Pellentesque sollicitudin dolor eros, eget consectetur nibh mattis vel. Nulla scelerisque, elit eget hendrerit faucibus, eros augue cursus purus, nec imperdiet lorem odio sit amet felis. In sagittis non lectus quis accumsan. Praesent efficitur mauris convallis tincidunt iaculis. Nullam tempus eros rhoncus iaculis hendrerit.
        </p>
    </body>
</html>