/* Structure */
body {
    font-family: cursive;
    background-color: whitesmoke;
}

#content {
    background-color: lightgray;
    width: 80%;
    margin: auto;
    border: 1px solid darkslategrey;
}

header {
    text-align: center;
    font-size:x-large;
    color: darkslategrey;
}

li {
    border: 1px solid darkred;
}

a {
    text-decoration: none;      /* Remove underline */
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}



/* Navigation */

#main-nav ul, #quick-links {
    list-style-type: none;
    padding-left: 0;
}

#main-nav li {
    padding: 5px;
    background-color: crimson;
}

/* top-row */

#top-row {
    margin-bottom: 10px;
}

#sidebar {
    text-align: center;
    background-color:#36454F;
    display: flex;
    flex-direction: column;
    padding: 0 10px 30px 10px;
}

#sidebar h2 {
    color: aqua;
    margin: 0;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quick-links {
    margin: 0;
    background-color: crimson;
}

#cards-container h3 {
    text-align: center;
    background-color: darkblue;
    color: white;
    margin: 0;
}

/* Typography */

/* Responsive Design */

/* 600 px or larger */

@media (min-width: 1000px) {
    .columns {
        display:flex;
    }

    #main-nav li {
        flex: 1;
    }

    #top-row {
        display:flex;
        gap: 10px;
        align-items: stretch;
    }

    #sidebar {
        flex: 1;
    }

    #cards-container {
        display: flex;
        flex: 3;
        gap: 10px;
    }

    .card {
        flex: 1;
        min-width: 0;
    }
}